<%- include("header")%>
    <div class="container-fluid mt-4">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="form-control w-50 p-4">
                <form action="/add" method="post">
                    <div class="d-flex justify-content-lg-start pb-3">
                        <p class="lead fw-normal mb-0 me-3">Add passward details </p>

                    </div>
                    <div class="container-fluid m-2">
                        <label class="form-label" for="Domain">Domain </label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <% if(data.length> 0){data.forEach((item)=>{ %>

                                <!-- <option selected>Open this select menu</option> -->
                                <option value="<%= item.Domain%>">
                                    <%= item.Domain%>
                                </option>

                                <% })} else{ %>

                                    <option value="">
                                        No domain exist
                                    </option>
                                    <% } %>
                        </select>
                    </div>
                    <div class="container-fluid m-2">
                        <!-- <input type="text" id="id" name="id" value="<%= data._id%>" hidden /> -->
                        <label class="form-label" for="username">Username </label>
                        <input type="text" id="Domain" name="username" class="form-control"
                            placeholder="Enter a valid Username" />
                        <label class="form-label" for="Password">Password </label>
                        <input type="password" id="passward" name="passward" class="form-control"
                            placeholder="Enter the passward" />
                        <!-- <textarea name="details" id="details" cols="50" rows="5"></textarea> -->
                    </div>
            </div>
        </div>
    </div>

    </form>
    </div>

    </body>



    </html>