<%- include("header")%>
    <div class="container m-2">
        <div>
            <h2 class="text-center">Welcome <%= loginuser%>
            </h2>
        </div>
    </div>
    </body>


    </html>